# Database Configuration
DB_HOSTNAME=your-rds-endpoint.rds.amazonaws.com
DB_PORT=5432
DB_NAME=your_database_name
DB_USERNAME=postgres
DB_PASSWORD=your_strong_password_here

# S3 Configuration
AWS_S3_BUCKET=your-s3-bucket-name
AWS_REGION=ap-south-1
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key

# App Secrets
SECRET_KEY=your_jwt_secret_key_here

# Google OAuth2
GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
GOOGLE_REDIRECT_URI=http://localhost:8000/auth/google/callback
FRONTEND_URL=http://localhost:4173
 

# Environment (development/production)
ENVIRONMENT=development
