fastapi
uvicorn[standard]
sqlalchemy==2.0.20
alembic==1.13.1
pytest
pytest-cov
httpx>=0.24.0
psycopg2-binary
passlib[bcrypt]
pyjwt
python-dotenv
pydantic
pydantic-settings
boto3
python-jose[cryptography]
requests
email-validator
google-auth>=2.17.0
google-auth-oauthlib>=1.0.0
google-auth-httplib2>=0.1.0
